<style>
    .search-box{
        display: flex;
        flex-direction: row;
        padding: 0px !important;
    }

    .search-box>*{
        flex: content;
        border-radius: none !important;
        border: none !important;
        max-height: 30px;
    }

    .search-box>select{
        font-size: 14px;
    }
</style>

<label class="search-box">
    <select id="searchTerm" name="searchTerm" ng-model="columns">
        <option value="" selected disabled>Select Search Term</option>
        <option ng-repeat="(index, criteria) in $ctrl.searchTerm" ng-value="{{criteria}}"> {{criteria}} </option>

    </select>
    <!---->
    <input ng-model="search[columns]" ng-keyup="$ctrl.dosearch($event);" id="searchText"  name="searchText" type="text" class="input" placeholder="Enter search text">
</label>
